<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener — CodeAlpha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>🔗 URL Shortener</h1>
    <p>Paste your long URL and get a short one instantly</p>

    <div class="input-group">
        <input type="text" id="urlInput" placeholder="https://your-long-url.com/very/long/path"/>
        <br><input type="text" id="customCode" placeholder="Custom name (optional) e.g. my-portfolio"/>
        <br>
        <button onclick="shortenURL()">Shorten</button>
    </div>

    <div class="result" id="result">
        <p>Your shortened URL:</p>
        <a id="shortUrl" href="#" target="_blank"></a><br>
        <button class="copy-btn" onclick="copyURL()">Copy</button>
    </div>

    <div class="history" id="history"></div>
</div>


</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>